extends navbar

block more_content
    .container
        | About page


    // Include jQuery (required) and the JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/scripts/toolkit.min.js')