extends navbar

block more_content

    #carousel-example-generic.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
        .carousel-inner(role='listbox')
            .item.active
                img(src='/images/surfing.jpg', alt='Second slide')
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next

    .container(id='signUpLogInForm')
        form
            .form-group
                label.sr-only(for='exampleInputName2') Name
                input#emailInput.form-control(type='email', placeholder='Your Email')
            .form-group
                label.sr-only(for='exampleInputEmail2') Email
                input#passwordInput.form-control(type='password', placeholder='Password')
                button.btn.btn-default(type='button', class='signUpLogInButtons') Log In
                button.btn.btn-primary(type='button', class='signUpLogInButtons') Sign Up

        p(id='copyright') Active 2017 &copy;





    // Include jQuery (required) and the JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='scripts/toolkit.min.js')
