extends layout

block content

    nav.navbar.navbar-light.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.navbar-brand-emphasized(href='/')
                    span.icon.icon-cloud.navbar-brand-icon(href='/')
                    |           Active
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') Home
                    li
                        a(href='/about') About

        block more_content