include navbar

.container(id='signUpForm')
    form(action='/signup/insert' method='get')
        .form-group
            label.sr-only First Name
            input.form-control(type='text', name='firstName', placeholder='First Name')
        .form-group
            label.sr-only Last Name
            input.form-control(type='text', name='lastName', placeholder='Last Name')
        .form-group
            label.sr-only Email
            input.form-control(type='email', name='email', placeholder='Email')
        .form-group
            label.sr-only Password
            input.form-control(type='password', name='password', placeholder='Password')
            button.btn.btn-default(type='submit', class='signUpLogInButtons') Sign Up

    // Include jQuery (required) and the JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/scripts/toolkit.min.js')