extends navbar

block more_content
    .container
        p Welcome back. We hope you've been staying active and meeting your goals.

        .col-md-6.m-b-md
            .list-group
                h4.list-group-header
                    | Recent Activity

                for val in activity_result
                    a.list-group-item(href='#')= val.name
                        span.pull-right.text-muted= val.date_done


            a.btn.btn-primary-outline(href='#') View All
            a.btn.btn-success-outline(data-toggle='modal', data-target='#addActivityModal') Add


        .col-md-6.m-b-md
            .list-group
                h4.list-group-header
                    | Goals
                for val in goal_result
                    a.list-group-item(href='#')= val.name

            a.btn.btn-primary-outline(href='#') View All
            a.btn.btn-success-outline(href='#') Add


        // Include jQuery (required) and the JS
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='/scripts/toolkit.min.js')