extends navbar

block more_content
    .container
        p Welcome back. We hope you've been staying active and meeting your goals.

        p #{result}

        .col-md-6.m-b-md
            .list-group
                h4.list-group-header
                    | Recent Activity
                a.list-group-item(href='#')
                    span.pull-right.text-muted mm/dd/yyyy
                    |           Run
                a.list-group-item(href='#')
                    span.pull-right.text-muted mm/dd/yyyy
                    |           Hike

            a.btn.btn-primary-outline(href='#') View All
            a.btn.btn-success-outline(href='#') Add


        .col-md-6.m-b-md
            .list-group
                h4.list-group-header
                    | Goals
                a.list-group-item(href='#')
                    span.pull-right.text-muted mm/dd/yyyy
                    |           5 mile run
                a.list-group-item(href='#')
                    span.pull-right.text-muted mm/dd/yyyy
                    |           3 hour hike

            a.btn.btn-primary-outline(href='#') View All
            a.btn.btn-success-outline(href='#') Add


