
button.navbar-toggle {

    background-color: #137499;
    border-width: 4px;
}

nav {

    text-align: center;
    position: fixed;
    float: left;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    list-style-type: none;
    background-color: #FFFFFF;
    z-index:999;

}

#carousel-example-generic {
    margin-top: 60px;
    position:relative;

}

#aboutContainer {
    margin-top: 60px;
    position:relative;
}

#usersProfileContainer {
    margin-top: 60px;
    position:relative;
}

button.navbar-toggle:hover {

    background-color: #e3f5fb;

}


#activeTop {

    font-size: 14px;

}


.icon-bar {

    background-color: white;

}

#logInForm {

    margin-top: 40px;
    margin-bottom: 40px;
    width: 200px;

}

#signUpForm {

    margin-top: 60px;
    width: 200px;

}

.signUpLogInButtons {

    margin-top: 20px;
    width: 170px;

}

#signUpFromHome {

    margin-top:0px;

}

.loginAlerts {

    text-align: center;
    width:170px;

}

.modal-backdrop {

    z-index: -1;

}

.modal {

    top: 50px;

}

#datePicker {

    width: 200px;
    border-radius: 3px;

}

#goalName {

    width: 200px;
    border-radius: 3px;

}

#addActivityButton {

    left:10px !important;

}

.addFormItem {

    position:relative;
    float: left;
    clear:left;
    margin:10px;

}

.activityDetails {

    width:300px;
    height:100px;

}

#user_table_data {

    height:55px;

}


.list-group-item {

    font-size: 20px;

}

.list-group-header {

    height:55px;

}

.editDeleteButtons {

    margin-left: 5px;

}

#deleteForm {

    display:inline;

}

#aboutContainer {

    width:70%;
    left:-30px;

}

#demoImage1 {

    left:-3px;

}

#demoImage2 {

    top:-10px;
    left:-3px;

}

#herokuImage {

    position:relative;
    margin-right: 10px;
    height: 100px;
    width: 200px;

}

#nodeImage {

    position:relative;
    margin-right: 10px;
    height:100px;
    width:200px;

}

#pugImage {

    position:relative;
    margin-right: 10px;
    height:100px;
    width:100px;

}

#postgresqlImage {

    position:relative;
    margin-right: 10px;
    height:100px;
    width:100px;

}

#pictures {

    position:relative;
    float: left;

}