button.navbar-toggle {

    background-color: #137499;
    border-width: 4px;
}

button.navbar-toggle:hover {

    background-color: #e3f5fb;

}

#activeTop {

    font-size: 14px;

}

.icon-bar {

    background-color: white;

}


#signUpLogInForm {

    margin-top: 40px;
    width: 200px;

}

.signUpLogInButtons {

    margin-top: 20px;
    width: 170px;

}

#copyright {

    position: fixed;
    bottom:0;
    left: 50%;
    margin-top: 100px;
    text-align: center;
    transform: translate(-50%, -50%);

}

a.btn {

    margin-right: 5px;

}